
@model IEnumerable<Resource>

<h3 class="p-2 bg-primary text-white text-center">Rooms</h3>


<table>
    @if (ViewBag.UpdateAll != true)
    {
        <tr>
            <th> CompanyID</th>
            <th> ResourceID</th>
            <th> ResourceName</th>
            <th> ResourceType</th>
            <th> Bed Type</th>
            <th> Capacity max</th>
            <th> Floor</th>
            <th> SizeInM2</th>
            <th> Description</th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td>No Data</td>
            </tr>

        }
        else
        {
            @foreach (Resource r in Model)
            {
                <tr>
                    <td>@r.CompanyID</td>
                    <td>@r.ResourceID </td>
                    <td>@r.Name</td>
                    <td>@r.ResourceType.Name </td>
                    <td>@r.BedType</td>
                    <td>@r.CapacityMax</td>
                    <td>@r.Floor</td>
                    <td>@r.SizeInM2</td>
                    <td>@r.Description</td>
                    <td>
                        <a asp-action="UpdateResource" asp-route-resourceID="@r.ResourceID">Edit</a>
                    </td>
                    <td class="td">
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="ResourceID" value="@r.ResourceID" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>


            }

        }


    }

</table>

<div class="text-center">
    <a asp-action="UpdateResource" asp-route-key="0" class="btn btn-primary">Add</a>
</div>





